*
!.Xresources
!.gitignore
!.xmonad/xmonad.hs
!.calendar.sh
!.color.sh
!.color.numix.sh
!.dmenu.sh
!.font.sh
!.log.sh
!.network.sh
!.network.conf
!.screen.sh
!.shutdown.sh
!.spaceinvaders.sh
!.statusbar.sh
!.statusbar.conf
!.statusbar.1024.conf
!.tray.sh
!.vimrc
!.xsession
!.zxcv.sh
!README.md
